.container {
	width: 1000px;
	min-height: 600px;
	padding-top: 50px;
	margin: 0 auto;
	overflow:hidden;
}
.container h1{
	padding: 0px;
	margin: 0px;
	text-align: left;
}
.slider {
	width: 100%;
	height: 360px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.slider img{
	max-height: 366px;
}